*.bak
*.bmp
*.rad
*.rca
*.jpg
*.JPG
*.avi
*.gif
*.zip
*.png
*.exe
Thumbs.db
*.tga
*.wav
*.wmv
*.mp4
*.hdr
LightSys/**/*
LightsysIV/**/*
MegaPOV/**/*
NewsGroups/**/*
ParticleSystem/**/*
SquareTomato/**/*
walk/**/*
